# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Vector Database
backend/data/chroma_db/
backend/data/*.pdf

# Local IDE
.idea/
.vscode/

# Project Specific (Keep scripts for server setup)
test_demo.html
